services:
  app:
    # Usamos la imagen ya construida en Docker Hub para que no necesites el código fuente
    image: sgonzalezh/holostack:latest
    container_name: holostack_app
    restart: always
    ports:
      - "3000:3000"
    volumes:
      # Persistencia: Mapea la carpeta local ./data a /app/data en el contenedor
      # Aquí se guardará tu base de datos y tus cartas
      - ./data:/app/data
    environment:
      # Ubicación de la base de datos dentro del volumen persistente
      - DATABASE_FILE=/app/data/sqlite.db
      
      # Modo de la aplicación:
      # - LOCAL: Acceso directo (ideal para uso personal, no pide contraseña)
      # - SERVER: Requiere inicio de sesión
      - APP_MODE=LOCAL
      
      # Configuración de seguridad (requerida técnicamente por la app)
      - NEXTAUTH_SECRET=pokedex_secret_key_change_me_if_deploying_to_internet
      - NEXTAUTH_URL=http://localhost:3000
      
      - NODE_ENV=production
